= simple_form_for(:team, url: course_teams_path, :html => {:style => "margin: 0 auto; width: 60%; align: left"}) do |f|
  
  = f.error_notification
  .form-inputs{:width => "90%"}
    %h4= f.input :name, required: true, autofocus: true, label: 'Team Name'
    %h4= f.input :group_number, as: :integer, label: 'Group Number (if applicable)'
    %br
    %h4= f.label :leave_empty , "Remove student by leaving it empty or (Optional)"
    %br
    - (1..@team_size).each do |n|
      = f.label :student_id, "Student #{n} SID"
      = text_field_tag "student_sid_#{n}", (@student_sids[n] or ""), :placeholder => "(Optional)"
      %br
      %br
    %hr
  .form-actions
    = f.button :submit, "Save Team", :id => "save_team"
