= simple_form_for(:team, url: course_teams_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true, autofocus: true, label: 'Team Name'
    -#= f.input :student_1_name, required: false,  input_html: { value: nil }, label: "Student 1 Name"
    <br />
    - (1..6).each do |n|
      = f.label "Student #{n} SID"
      = text_field_tag "student_sid_#{n}", (@student_sids[n] or "(Optional)")
      <br />
      <br />
    <br />
  .form-actions
    = f.button :submit, "Save Team", :id => "save_team"
