%h1{:align => "center"}= "Your Teams for " +  @course.course_name

%table.table-bordered{:width => "90%", :align => "center"}
  %thead
    %tr
      %th{:align => "center"} Team Name
      %th{:align => "center"} Instructor
      %th{:align => "center"} Team Members
      - if current_user.has_role? :instructor
        %th
        %th
  %tbody
    - @teams_params.each do |team|
      %tr
        %td= link_to team[0].name, course_team_path(id: team[3])
        %td= team[1]
        %td= team[2].join(", ")
        - if current_user.has_role? :instructor
          %td= link_to "Edit", edit_course_team_path(id: team[3])
          %td= link_to "Remove", course_team_path(id: team[3]), :method => :delete, :data=> { :confirm => "Are you sure?"}
%br

%div{:align => "center"}
  - if current_user.has_role? :instructor
    = link_to "Add a New Team", new_course_team_path
