= simple_form_for(@assignment, :url => all_assignments_path, :html => {:class => "form-horizontal", :style => "margin: 0 auto; width: 40%;"}) do |f|

  = f.error_notification

  .form-input{:width => "70%"}
    = f.input :assignment_name, :required => true, placeholder: "Assignment Name Here"
  .form-input{:width => "70%"}
    = f.input :deadline, :required => true, placeholder: "Due Date Here"
  .form-actions
    = f.button :submit
