%h1{:align => "center"}= "Your Assignments for " + @course.course_name

/ %table.table-bordered{:width => "90%", :align => "center"}
/   %thead
/     %tr
/       %th{:align => "center"} Assignment Name
/       %th{:align => "center"} Course
/       %th{:align => "center"} Deadline

/   %tbody
/     - @assignments.each do |assignment|
/       %tr
/         %td= link_to assignment.assignment_name, course_team_assignment_path(:course_id => params[:course_id], :team_id => params[:team_id], :id => assignment.id)
/         %td= assignment.course.course_name
/         %td= assignment.deadline
/         %td= link_to 'Show', course_team_assignment
/         %td= link_to 'Edit', edit_course_team_assignment_path(assignment)
/         %td= link_to 'Destroy', course_team_assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }

/ %br


- @assignments.each do |assignment|
  .container
    - if @permission
      .row
        %h2= assignment.assignment_name
      .row
        / %h4 Average Ratings:
        - @names.each do |user|
          %h4= user.full_name + ": " + user.average_rating(assignment)
          .col-sm-offset-1
            - user.feedback_received(assignment).each do |feedback|
              %h5= User.find_by_user_id(feedback.giver_id).full_name
              %h6= "Rating: " + feedback.rating.to_s
              %h6= "Comment: " + feedback.comments

    - else
      %h2= link_to assignment.assignment_name, course_team_assignment_path(:course_id => params[:course_id], :team_id => params[:team_id], :id => assignment.id)

%br
%br
%br
//= link_to 'New Assignment', new_course_team_assignment_path
