%h1{:align => "center"}= "All Team Averages for " + @assignment.assignment_name

%br
.container{:align => "left"}
  Sort Teams By:
  %span= link_to "Team Name ", show_assignment_path(:sort_by => "team name")
  %span= "|"
  %span= link_to "Minimum Score ", show_assignment_path(:sort_by => "min score")
  %span= "|"
  %span= link_to "Group Number", show_assignment_path(:sort_by => "group number")
%br

.container{:width => "90%"}
  .panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    - @teams_info.each do |team_info|
      - if @permission
        - team = team_info[0]
        - problem = team_info[1]
        - min_score = team_info[2]
        - students = team_info[3]
        - progress = team_info[4] * 100
      .panel.panel-default
        .panel-heading{:role => "tab", :id => team.group_number}
          %h4.panel-title
            %a.inline{"aria-controls" => team.name, "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#" + team.name}
              - if problem < 1
                %h2{:style => "color: Red;"}= team.name
              - elsif problem < 2
                %h2{:style => "color: Gold;"}= team.name
              - else
                %h2{:style => "color: Green;"}= team.name
        .panel-collapse.collapse.in{"aria-labelledby" => team.group_number, :role => "tabpanel", :id => team.name}
          %h5{:style => "margin-left: 15px;"}= "Group Number #{team.group_number}"
          .panel-body
            %h5 % Feedbacks Received
            .progress
              .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{progress.round}", :role => "progressbar", :style => "width: #{progress.round}%; min-width: 2em;"}
                ="#{progress.round}%"
            %hr
            %h4{:align => "center"} Average Ratings
            - for student in students.keys
              - average_rating = students[student][0]
              - flag = students[student][1]
              .panel.panel-info{style: "border-style: none;"}
                .panel-heading{:role => "tab", :id => student.full_name, style: "background: white;border-style: none;"}
                  %h5.panel-title
                    %a{"aria-controls" => student.user_id.to_s, "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#" + student.user_id.to_s}
                      - if flag < 1
                        %span= student.full_name + ": "
                        %span{:style => "color: Red;"}= average_rating
                      - elsif flag < 2
                        %span= student.full_name+ ": "
                        %span{:style => "color: Gold;"}= average_rating
                      - elsif average_rating == "N/A"
                        %span= student.full_name+ ": "  #{%span{:style => "color: Green;"}= average_rating}
                        %span= average_rating
                      - else
                        %span= student.full_name+ ": "  #{%span{:style => "color: Green;"}= average_rating}
                        %span{:style => "color: Green;"}= average_rating
                .panel-collapse.collapse{"aria-labelledby" => student.full_name, :role => "tabpanel", :id => student.user_id}
                  .panel-body
                    .row
                      .col-sm-offset-1
                        - student.feedback_received(@assignment).each do |feedback|
                          %h5= User.find_by_user_id(feedback.giver_id).full_name
                          %h6= "Rating: " + feedback.rating.to_s
                          %h6= "Comment: " + feedback.comments
      -#- else
%br
%br

:css

  .progress {
   width: 50%;
   position: relative;
  }

  .progress-bar-info {
    background: SteelBlue;
  }
