= simple_form_for(@student) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :sid
    = f.input :email
    = f.input :instructor
    = f.input :team

  .form-actions
    = f.button :submit
