%p#notice= notice

%p
  %b Name:
  = @student.name
%p
  %b SID:
  = @student.sid
%p
  %b Email:
  = @student.email
%p
  %b Instructor:
  = @student.instructor
%p
  %b Team:
  = @student.team

= link_to 'Edit', edit_student_path(@student)
\|
= link_to 'Back', students_path
