= simple_form_for(:user, url: users_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :course, label: false, collection: @courses.map(&:course_name), :selected => @courses.first.course_name, :input_html => {:style => "width:150px;"}
    = f.input :user_id, label: false, :input_html => {:style => "width:150px;"}, placeholder: "SID/Employee ID"
    %br
  .form-actions
    = f.button :submit, "Add Student or Instructor"
