%head
  %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :rel => "stylesheet"}

%h1{:align => "Center"}
  %strong{:align => "Center"}= "Feedbacks for " + @assignment.assignment_name

%br
%br
%br
.container
  .row
    .col-md-offset-2.col-md-8.text-center
      %h3 Feedbacks You've Given
  .row
    .col-md-offset-2.col-md-8
      #quote-carousel1.carousel.slide{"data-ride" => "carousel"}

        / Carousel Slides / Quotes
        .carousel-inner
          - if @feedbacksgiven.length == 0
            %p= "No feedbacks"
          - else
            .item.active
              %blockquote
                .row
                  .col-sm-9
                    %h5= @team.users.all.where(:user_id => @feedbacksgiven[0].receiver_id).first.full_name
                    %p= @feedbacksgiven[0].comments
                    %small= "Rating: " + @feedbacksgiven[0].rating.to_s
                    %br
                    %a.btn.btn-primary.btn-round-xs.btn-xs{:href => edit_course_team_assignment_feedback_path(:course_id => params[:course_id], :team_id => params[:team_id], :assignment_id => params[:assignment_id], :id => @feedbacksgiven[0].id)} Edit this feedback
          - if @feedbacksgiven.length > 1
            - @feedbacksgiven[1, @feedbacksgiven.length].each do |feedback|
              .item
                %blockquote
                  .row
                    .col-sm-9
                      %h5= @team.users.all.where(:user_id => feedback.receiver_id).first.full_name
                      %p= feedback.comments
                      %small= "Rating: " + feedback.rating.to_s
                      %br
                      %a.btn.btn-primary.btn-round-xs.btn-xs{:href => edit_course_team_assignment_feedback_path(:course_id => params[:course_id], :team_id => params[:team_id], :assignment_id => params[:assignment_id], :id => feedback.id)} Edit this feedback
   
        / Carousel Buttons Next/Prev
        %a.left.carousel-control{"data-slide" => "prev", :href => "#quote-carousel1"}
          %i.fa.fa-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#quote-carousel1"}
          %i.fa.fa-chevron-right

%br

%div{:align => "Center"} 
  %a.btn.btn-primary.btn-round{:href => new_course_team_assignment_feedback_path, :id => "newfeedback"} Give New Feedback
%br

.container
  .row
    .col-md-offset-2.col-md-8.text-center
      %h3 Feedbacks You've Received
  .row
    .col-md-offset-2.col-md-8
      #quote-carousel.carousel.slide{"data-ride" => "carousel"}

        / Carousel Slides / Quotes
        .carousel-inner
          - if @feedbacksreceived.length == 0
            %p= "No feedbacks"
          - else
            .item.active
              %blockquote
                .row
                  .col-sm-9
                    %p= @feedbacksreceived[0].comments
                    %small= "Rating: " + @feedbacksreceived[0].rating.to_s
          - if @feedbacksreceived.length > 1
            - @feedbacksreceived[1, @feedbacksreceived.length].each do |feedback|
              .item
                %blockquote
                  .row
                    .col-sm-9
                      %p= feedback.comments
                      %small= "Rating: " + feedback.rating.to_s
   
        / Carousel Buttons Next/Prev
        %a.left.carousel-control{"data-slide" => "prev", :href => "#quote-carousel"}
          %i.fa.fa-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#quote-carousel"}
          %i.fa.fa-chevron-right

:css
  /* carousel */
  #quote-carousel 
  {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
  }

  /* Control buttons  */
  #quote-carousel .carousel-control
  {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  /* Previous button  */
  #quote-carousel .carousel-control.left 
  {
    left: -12px;
  }
  /* Next button  */
  #quote-carousel .carousel-control.right 
  {
    right: -12px !important;
  }
  /* Changes the position of the indicators */
  #quote-carousel .carousel-indicators 
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
  /* Changes the color of the indicators */
  #quote-carousel .carousel-indicators li 
  {
    background: #c0c0c0;
  }
  #quote-carousel .carousel-indicators .active 
  {
    background: #333333;
  }
  #quote-carousel img
  {
    width: 250px;
    height: 100px
  }
  /* End carousel */

  .item blockquote {
      border-left: none; 
      margin: 0;
  }

  .item blockquote img {
      margin-bottom: 10px;
  }

  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }

  .btn-round-xs{
      border-radius: 11px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .btn-round{
    border-radius: 17px;
  }




  /**
    MEDIA QUERIES
  */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
      #quote-carousel 
      {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
      }
      
  }

  /* Small devices (tablets, up to 768px) */
  @media (max-width: 768px) { 
      
      /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
      
      #quote-carousel .carousel-indicators {
          bottom: -20px !important;  
      }
      #quote-carousel .carousel-indicators li {
          display: inline-block;
          margin: 0px 5px;
          width: 15px;
          height: 15px;
      }
      #quote-carousel .carousel-indicators li.active {
          margin: 0px 5px;
          width: 20px;
          height: 20px;
      }
  }


  #quote-carousel1 
  {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
  }

  /* Control buttons  */
  #quote-carousel1 .carousel-control
  {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  /* Previous button  */
  #quote-carousel1 .carousel-control.left 
  {
    left: -12px;
  }
  /* Next button  */
  #quote-carousel1 .carousel-control.right 
  {
    right: -12px !important;
  }
  /* Changes the position of the indicators */
  #quote-carousel1 .carousel-indicators 
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
  /* Changes the color of the indicators */
  #quote-carousel1 .carousel-indicators li 
  {
    background: #c0c0c0;
  }
  #quote-carousel1 .carousel-indicators .active 
  {
    background: #333333;
  }
  #quote-carousel1 img
  {
    width: 250px;
    height: 100px
  }
  /* End carousel */

  .item blockquote {
      border-left: none; 
      margin: 0;
  }

  .item blockquote img {
      margin-bottom: 10px;
  }

  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }

  .btn-round-xs{
      border-radius: 11px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .btn-round{
    border-radius: 17px;
  }




  /**
    MEDIA QUERIES
  */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
      #quote-carousel1
      {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
      }
      
  }

  /* Small devices (tablets, up to 768px) */
  @media (max-width: 768px) { 
      
      /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
      
      #quote-carousel1 .carousel-indicators {
          bottom: -20px !important;  
      }
      #quote-carousel1 .carousel-indicators li {
          display: inline-block;
          margin: 0px 5px;
          width: 15px;
          height: 15px;
      }
      #quote-carousel1 .carousel-indicators li.active {
          margin: 0px 5px;
          width: 20px;
          height: 20px;
      }
  }





