%container{:align => "left", :width => "900px", :margin => "0 auto"}

  %container
    %h1{:align => "left", :style=>"width: 60%; margin: 0 auto"} New feedback
    %br
    %p{:align => "left", :style=>"width: 60%;  margin: 0 auto"}= @instructions
    %br

  = simple_form_for(@feedback, url: "/courses/#{params[:course_id]}/teams/#{params[:team_id]}/assignments/#{params[:assignment_id]}/feedbacks/", :html => {:style => "width: 45%; margin: 0 auto; align: left"}) do |f|
    .form-inputs{:width => "90%"}
      = collection_select(:user, :user_id, @users, :user_id, :full_name, {:include_blank => "Select a Team Member"})
      %br
      %br
      = "\nWhat feedback do you have on this person's performance?"
      = f.input :comments, :as => :text, input_html: {id: "comments"}
      %br
      = "\nHow many points would you give this person?"
      = f.input :rating, input_html: {id: "rating"}
      = f.hidden_field :giver_id, :value => @user.user_id
    .form-actions
      = f.button :submit, "Submit", id: "submit"

    //= render 'form', :feedback => feedback


