%h1 New feedback

= simple_form_for(@feedback) do |f|
  .form-inputs
    = f.input :comments, required: false, autofocus: true
    = f.input :rating, required: false
  .form-actions
    = f.button :submit, "Submit"

= link_to 'Back', feedbacks_path
