= simple_form_for(@course, :html => {:class => "form-horizontal", :style => "margin: 0 auto; width: 40%;"}) do |f|

  %div{:align => "center"}
    = "Department Abbreviation (CAPS), followed by a space and Course Number"
  <br/>
  = f.error_notification

  .form-input{:align => :center, :width => "70%"}
    = f.input :course_name, :required => true, placeholder: "Course Name Here"
    = f.input :team_size, label: "Max Team Size", :input_html => {:style => "width:50px;"}
    %br
  .form-actions
    = f.button :submit
