%h1{:align => "center"} Your Courses
%br
%br
%div{:align => "left", :style =>"margin: 0 auto; width: 60%;"}
  - @courses.each do |course|
    %div{style: "border: 2px solid SteelBlue; border-radius: 6px;text-align:justify;cursor: pointer;", :align => :center} 
      %div.name{:onclick => "location.href=\"/courses/#{course.id}\";"}
        %h1{:align => "left", :style => "margin-left: 30px;color: SteelBlue; display:inline-block;"}= course.course_name
        %h1{:align => "right", :style => "margin-right: 15px; position: relative;top: -15px; color: SteelBlue; font-size: 15px; display:inline-block;"}= "Professor: #{User.where(:user_id => course.user_id).first.full_name}"
      %div.name{:style => "background-color: White;border-top: 1px solid SteelBlue;"}
        - if @permission.has_role? :professor
          %h1{:style => "display:inline-block;font-size: 13px;margin-left: 300px;"}= link_to "Go to All Students/Instructors", users_path
          %h1{:style => "display:inline-block;font-size: 13px;margin-right: 20px;"}= link_to "Go to All Assignments", all_assignments_path(:course_id => course.id)
        - if @permission.has_role? :instructor 
          %h1{ :style => "margin-left:  350px; color: SteelBlue; font-size: 13px;display:inline-block;"}= link_to "Go to All Teams", course_path(:id => course.id)
          %h1{:style => "display:inline-block;font-size: 13px;margin-right: 20px;"}= link_to "Go to All Assignments", all_assignments_path(:course_id => course.id)
        - if @permission.has_role? :student
          %h1{ :style => "margin-left: 450px; color: SteelBlue; font-size: 13px"}= link_to "Go to All Teams", course_path(:id => course.id)

    - if @permission.has_role? :professor
      %div.name
        %h1{:style => "display:inline-block;font-size: 13px;margin-left: 15px;"}= link_to "Edit this course", edit_course_path(:id => course.id)
        %h1{:style => "display:inline-block;font-size: 13px;margin-right: 15px;"}= link_to "Remove #{course.course_name}", course, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %br
    %br


%br
%div{:align => "center"}
  - if @permission.has_role? :professor
    = link_to "Add a New Course", new_course_path

%br

:css
  .name {
    text-align: justify; 
  }
  
  .name:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
  }